
datasets/aggiudicatari_csv_0.csv
datasets/aggiudicazioni_csv_0.csv
datasets/pubblicazioni_csv_0.csv
application/datasets/aggiudicazioni_csv_0.csv
application/datasets/aggiudicatori/aggiudicatari_csv_0.csv
application/datasets/pubblicazioni_csv_0.csv
application/datasets/cig/cig_csv_2011_02.csv
application/datasets/cig/cig_csv_2011_03.csv
application/datasets/cig/cig_csv_2011_05.csv
application/datasets/cig/cig_csv_2011_04.csv
application/datasets/clean_data/full_dataset.csv
application/datasets/aggiudicatari/aggiudicatari_csv_0.csv
application/datasets/various_data/aggiudicazioni_csv_0.csv
application/datasets/various_data/pubblicazioni_csv_0.csv
application/datasets/clean_data/aggiudicatari.csv
application/database_backup/db_bdt_project_backup/20210509-153131/db_bdt_project.sql
application/database_backup/db_bdt_project_backup/20210509-153228/db_bdt_project.sql
application/database_backup/db_bdt_project_backup/20210509-155837/db_bdt_project.sql
*.sav
application/datasets/clean_data/appalti_aggiudicatari.csv
application/datasets/clean_data/elenco_aggiudicatari.csv
application/datasets/clean_data/elenco_aggiudicatari_1M.csv
application/datasets/raw_data/aggiudicatari/elenco_aggiudicatari_1M.csv
application/datasets/raw_data/aggiudicatari/elenco_aggiudicatari.csv
application/datasets/raw_data/cig/cig_csv_2011_02.csv
application/datasets/raw_data/cig/cig_csv_2011_03.csv
application/datasets/raw_data/cig/cig_csv_2011_04.csv
application/datasets/raw_data/cig/cig_csv_2011_05.csv
application/datasets/raw_data/various_data/aggiudicazioni_csv_0.csv
application/datasets/raw_data/various_data/pubblicazioni_csv_0.csv
